/* Created by: Niko (original author: Ms. Raffin)
 * Created on: Feb. 2022
 * This CSS file defines the style for index.html 
*/

body {
  background-color: #fff1e0;
  color: #000000
  }

h1 {
  background-color: #9d8080;
}

#kindeybean, #blackbean, #pintobean {
  text-align: center;
}

#beanimages {
  background-color: #e1dbdb;
  margin-left: 0.5in;
  margin-right: 0.5in;
  text-align: center;
}

img {
  display: inline-block;
}

p {
  width: 400px;
  background-color: peachpuff;
}

ol {
  background-color: peachpuff;
  margin-left: 0.5in;
  margin-right: 0.5in;
}